p {
    background-color: white;
}
h1 {
    text-align: center;
    color: purple;
}
h2 {
    text-align: center;
    color: grey;
}
body {
    width: 1000px;

}
li {
    list-style-type: none;
    display: inline-block;
    width: 17%;
    background-color: grey;
    color: white;
    margin: 10px;
    padding: 5px;
}

image {
    align-content: center;
}

div.p1 {
    color: cadetblue;
}
div.p2 {
    color: cornflowerblue;
}
div.p3 {
    color: darkslategrey;
}
a {
    color: rgb(69, 105, 48)
}
a:hover {
    color: rgb(136, 100, 237);
}
