p {
    background-color: white;
}
h1 {
    text-align: center;
    color: purple;
}
h2 {
    text-align: center;
    color: rgba(255, 0, 179, 0.932);
}
body {
    width: 1000px;

}
div.p1 {
    color: cadetblue;
}
div.p2 {
    color: cornflowerblue;
}
div.p3 {
    color: darkslategrey;
}
image {
    width: 800px;

}
li {
    list-style-type: none;
    display: inline-block;
    width: 17%;
    background-color: grey;
    color: white;
    margin: 10px;
    padding: 5px;
}